<p-toast />
<p-confirmpopup />

<div class="navbar w-auto px-4 bg-gray-400/10 rounded-2xl container mx-auto my-2">
  <div class="manu flex justify-between items-center ">
    <a href="/" pTooltip="Dashboard" tooltipPosition="top"><img alt="logon" src="meet-logo.png" class="size-8 shadow-xl shadow-gray-500/50 object-cover rounded-full"></a>

   <div class="
  
   ">
   <div class="menu sm:hidden md:hidden">
     <p-splitbutton
          label="Menus"
          dropdownIcon="pi pi-bars"
          [model]="items"
        />
   </div>
     <ul class="hidden sm:flex sm:justify-end gap-2 items-center p-1 [&>*]:p-1 [&>*]:transition-transform [&>*]:hover:text-gray-900 [&>*]:hover:duration-500 [&>*]:hover:ease-in-out [&>*]:hover:scale-120 [&>*]:hover:-translate-y-0.5">
      @if (showComponent()) {
        <li class=" rounded ring-gray-800 ring-2 hover:cursor-pointer" routerLinkActive="text-gray-500">
        <button (click)="submit()"  class=" px-1">
         Home
        </button>
      </li>
         <li class="rounded ring-gray-800 ring-2">
        <a routerLink="/allProjects" routerLinkActive="text-gray-500 " class="transition-colors duration-300">My Projects</a>
      </li>
      <li class="rounded ring-gray-800 ring-2">
        <a routerLink="/allBlogs" routerLinkActive="text-gray-500" class="transition-colors duration-300">My Blogs</a>
      </li>
      
      <li >
        <p-button
        severity="danger"
        pToolTip="Logout"
        [outlined]="true"
        (click)="logout($event)"
        >
        Logout
        </p-button>
      </li>
      }@else {
        <li >
         <div class="rounded-full">
          <button routerLink="/login" class="bg-white/10 backdrop-blur-md ring-black ring-2 text-gray-700 py-1 px-2 rounded-2xl cursor-pointer">
           <i class="fa-solid fa-arrow-right"></i> &nbsp;Login 
          </button>
         </div>
        </li>
        <li >
         <div class="rounded-full">
          <button routerLink="/signin" class="bg-white/10 backdrop-blur-md ring-black ring-2 text-gray-700 py-1 px-2 rounded-2xl cursor-pointer">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;signin 
          </button>
         </div>
        </li>
      }
      
     
    </ul>
   </div>

  </div>
</div>
