<p-toast></p-toast>
<p-confirm-dialog></p-confirm-dialog>
<div class="card flex justify-center">
  <p-dialog
    header="Upload Failed"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '30rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true"
  >
    <span class="my-5 flex justify-center"
      ><i class="fa-regular fa-circle-xmark text-7xl text-red-600/50"></i
    ></span>
    <p class="flex justify-center text-4xl font-medium text-red-500/100">
      {{ imgMsg }}
    </p>
  </p-dialog>
</div>
<div class="container mx-auto my-5">
  <div
    class="flex flex-col-reverse justify-center sm:flex-col-reverse md:grid md:grid-cols-2 md:text-center items-center text-center md:gap-6 md:my-10 sm:gap-3 md:px-10"
  >
    <!-- Text Content -->
    <div class="Details sm:text-center md:text-left border-amber-500">
      <span class="text-2xl font-bold block">Hi, I am {{ myData.name }}</span>
      <span class="text-2xl font-bold block">{{ myData.specialized }}</span>
      <br /><br />
      <span>
        {{ myData.description }}
      </span>
      <div class="download-btn md:my-2">
        @if (!isAuth) {
         
          <button (click)="downloadResume()" class="transition duration-150 ease-in-out hover:-translate-1 hover:scale-105 bg-red-400 text-white shadow-black shadow-md rounded p-3 cursor-pointer hover:bg-red-500/80">
            View Resume
          </button>
        }@else {
           <button 
           (click)="triggerFile(fileInput)"
           class="transition duration-150 ease-in-out hover:-translate-1 hover:scale-105 bg-red-400 text-white shadow-black shadow-md rounded p-3 cursor-pointer hover:bg-red-500/80">
            Upload CV
          </button>
          <input
          #fileInput
          type="file"
          accept=".pdf,application/pdf"
          class="hidden"
          (change)="onCvFileSelected($event)"
          />
        }
      </div>
    </div>

    <!-- Image -->
    <div class="w-full flex justify-center items-center">
      <div class="image  group text-center size-80 relative">
        <img
          *ngIf="!profileImgURl"
          [src]="
            'data:' + myData.returnImageType + ';base64,' + myData.returnImg
          "
          alt="meet-logo.png"
          class="bg-cover w-[90%] h-[90%] shadow-pink-900 shadow-xl  rounded-full "
        />
        <div *ngIf="isAuth" class="">
          <img
            *ngIf="profileImgURl"
            [src]="profileImgURl"
            alt="meet-logo.png"
            class="bg-cover w-[90%] h-[90%] bg-amber-200 rounded-full"
          />
          <div
            (click)="onFileUpload(fileInput)"
            class="absolute top-1 left-44 text-left p-2 rounded-full bg-gray-400/60 hidden group-hover:inline-block"
          >
            <button pTooltip="Dashboard" tooltipPosition="top">
              <i class="fa-solid fa-pen-to-square text-gray-200 text-2xl"></i>
            </button>
          </div>
          <div>
            <input
              class="hidden"
              type="file"
              #fileInput
              (change)="uploadFile($event)"
              accept=".jpg,.jpeg,.png,image/jpeg,image/jpg,image/png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-pink-200/10 px-10 my-5  w-full">
  <a class="text-center block text-2xl font-semibold my-2">Recent Post</a>
  <div
    class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-2"
  >
    @for (blog of myBlogsList; track $index;let i=$index) {
    <div
      class="card rounded-xl shadow-pink-500 shadow-2xl overflow-y-auto px-4 py-2"
    >
      <span class="text-2xl font-medium text-left mb-5 block overflow-auto">{{
        blog.title
      }}</span>
      <span class="block mb-5"
        >{{ blog.createdAt }}&nbsp; | &nbsp;<span>{{ blog.tags[0] }},</span>
        {{ blog.tags[1] }}
      </span>
      <span class="py-4 block overflow-y-scroll">{{ blog.description }}</span>
    </div>
    }
  </div>
</div>
<div class="project-list bg-pink-200/10 px-5 mb-10">
  <p class="text-center text-gray-600 my-4 text-2xl font-semibold">Feature Works</p>
  <div
    class="main-content  grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-5"
  >
    @for (project of myProjectsList; track $index;let i=$index) {
    <div
      class="card rounded-xl shadow-pink-500 shadow-2xl overflow-y-auto px-4 grid grid-cols-2 gap-2 py-2"
    >
      <div class="projectImg">
        <img
          [src]="'data:image/jpeg;base64,' + project.returnCoverImg"
          alt="photo"
          class="bg-amber-100 rounded size-50"
        />
      </div>
      <div class="details overflow-y-auto">
        <span class="text-2xl font-medium block">{{ project.title }}</span>
        <div class="">
          <span
            class="bg-black inline text-white font-medium text-2xl rounded-2xl px-3 text-center"
            >{{ project.createdAt }}</span
          >
          <span class="text-gray-400 block overflow-x-auto">{{ project.tags }}</span>
        </div>
        <div class="text-left overflow-y-auto h-50">
          <p>
            {{ project.description }}
          </p>
        </div>
      </div>
    </div>

    }
  </div>

  <div>
    <hr class="h-1 bg-gray-300 border-0 mx-auto my-2" />
  </div>
</div>
