<p-toast />
<p-confirmpopup />
<p-confirm-dialog/>
<form [formGroup]="projectForm"  class="max-w-3xl mx-auto p-6 bg-white rounded shadow-md space-y-6">

   <p-dialog [(visible)]="dialogVisible" [modal]="true" [style]="{ width: '25rem' }">
       
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <p-avatar image="meet-logo.png" shape="circle" />
      <span class="font-bold whitespace-nowrap">Meet Yadav</span>
    </div>
  </ng-template>
    <span class="text-2xl block text-center font-bold">Add Projects</span>
   <div class="flex flex-col sm:flex-row md:flex-row justify-between mx-5">
      <div class="form-group">
           <label class="block text-gray-700 font-medium mb-1">Project Image</label>
           <input type="file" (change)="handleImageChage($event)" accept=".jpg,.png,.jpeg,imag/jpg,image/png,image/jpeg" class="w-40 border-gray-300 border-2 rounded">
           <div *ngIf="imageUrl" >
            <img [src]="imageUrl" alt="preview" class="bg-cover rounded-2xl">
           </div>
        </div>
       <div class="form-group">
           <label class="block text-gray-700 font-medium mb-1">Cover Image</label>
           <input type="file" (change)="handleImageChage2($event)" accept=".jpg,.png,.jpeg,imag/jpg,image/png,image/jpeg" class="w-40 border-gray-300 border-2 rounded">
           <div *ngIf="coverUrl" >
            <img [src]="coverUrl" alt="preview" class="bg-cover rounded-2xl">
           </div>
        </div>
   </div>
  <div>
    <label for="title" class="block text-gray-700 font-medium mb-1">Title*</label>
    <input formControlName="title" id="title" type="text"
      class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300" />
    <div *ngIf="projectForm.get('title')?.invalid && projectForm.get('title')?.touched" class="text-red-500 text-sm">
      Title is required
    </div>
  </div>

  <!-- Description -->
  <div>
    <label for="description" class="block text-gray-700 font-medium mb-1">Description*</label>
    <textarea formControlName="description" id="description" rows="4"
      class="w-full px-4 py-2 border border-gray-300 rounded resize-none focus:outline-none focus:ring focus:ring-blue-300 overflow-y-auto"></textarea>
    <div *ngIf="projectForm.get('description')?.invalid && projectForm.get('description')?.touched" class="text-red-500 text-sm">
      Description is required
    </div>
  </div>
  <!-- sourceCodeLink -->
    <div>
    <label for="sourceCodeLink" class="block text-gray-700 font-medium mb-1">Source Code Link</label>
    <input formControlName="sourceCodeLink" id="sourceCodeLink" type="text"
      class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300" />
    
  </div>

  <!-- LinkDemoLink -->
    <div>
    <label for="liveDemoLink" class="block text-gray-700 font-medium mb-1">Live Demo Link</label>
    <input formControlName="liveDemoLink" id="liveDemoLink" type="text"
      class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300" />
  </div>

  <!-- Tags -->
  <div formArrayName="tags">
    <button type="button" (click)="addTags()">+Add Tags*</button><br><br>
    <!-- <label class="block text-gray-700 font-medium mb-1">Tags</label> -->
    @for (tag of tags.controls; track $index;let i=$index) {
            <input type="text" id="tag-{{i}}" [formControlName]="i" class="border-gray-500 border-2 my-2">
           <button class="size-7 bg-yellow-200 ml-1 rounded-full text-red-500" (click)="removeTags(i)" *ngIf="tags.length>1"><i class="fa-solid fa-xmark "></i></button>
    }
    <div *ngIf="projectForm.get('tags')?.invalid && projectForm.get('tags')?.touched" class="text-red-500 text-sm">
      At least one tag is required
    </div>
  </div>


  <!-- Submit Button -->
   <!-- Submit Button -->
 <ng-template #footer>
    <p-button label="Cancel" type="button" [outlined]="true" [text]="true" severity="secondary" (onClick)="hideDialog()" />
    <p-button  type="button" label="Save"
    icon="pi pi-check"
     [loading]="loading"
     [disabled]="projectForm.invalid"
    (onClick)="ngSubmit()"/>
  </ng-template>
  </p-dialog>
</form>

<div class="card flex justify-center">
    <p-dialog header="Upload Failed" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
      <span class="my-5  flex justify-center "><i class="fa-regular fa-circle-xmark text-7xl text-red-600/50"></i></span> 
      <p class="flex justify-center text-4xl font-medium text-red-500/100">
            {{imgMsg}}
        </p>
    </p-dialog>
</div>
