<div class="container mx-auto">
  <div class="sticky top-3 z-10  w-full flex flex-row justify-center items-center my-2">
    <div class=" w-full rounded-3xl ">
     
      <div
      (click)="search()"
        class=" float-right flex flex-row px-6 mx-4 gap-4 bg-slate-200/20 rounded ring-slate-100 text-gray-500/90 ring-1 hover:ring-black hover:ring-1
        active:ring-black active:ring-1 
        "
      >
        <span 
          ><i class="fa-solid fa-search"></i
        ></span>
        <span>Search</span>
      </div>
    </div>
  </div>

  <div class="sticky top-10 z-10 mb-5">
    <ul class="flex justify-between items-center mx-2 gap-1 md:gap-3">
  <li
    (click)="active(1)"
    [ngClass]="{
      'bg-blue-500 text-white scale-95': tab === 1,
      'bg-gray-400/20': tab !== 1
    }"
    class="w-1/2 cursor-pointer transition-all duration-200 transform rounded-2xl shadow-md active:scale-95"
    role="button"
    [attr.aria-pressed]="tab === 1"
  >
    <a
      class="block text-center py-2 px-4"
    >
      Blogs
    </a>
  </li>

  <li
    (click)="active(2)"
    [ngClass]="{
      'bg-blue-500 text-white scale-95': tab === 2,
      'bg-gray-400/20': tab !== 2
    }"
    class="w-1/2 cursor-pointer transition-all duration-200 transform rounded-2xl shadow-md active:scale-95"
    role="button"
    [attr.aria-pressed]="tab === 2 "
  >
    <a
      class="block text-center py-2 px-4"
    >
      Projects
    </a>
  </li>
</ul>

  </div>

  <div class="h-full w-full rounded-t-2xl">
    <ng-container *ngTemplateOutlet="tab === 1 ? tab1 : tab2"></ng-container>
    <ng-template #tab1>
      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        @for (blogsData of blogsListData; track $index) {
        <div
          class="anime1 overflow-hidden mb-4 p-4 transition delay-150 duration-300 ease-in-out hover:translate-y-2 hover:scale-110"
        >
          <p-card class="h-full flex flex-col justify-center">
            <span [routerLink]="['/common/viewBlog',blogsData.id]" class="block text-xl font-bold cursor-pointer">{{blogsData.title}}</span>
            <span [routerLink]="['/common/dashboard',blogsData.userId]" class="block overflow-hidden hover:scale-x-105 cursor-pointer">Posted By: {{ blogsData.authorName }}</span>
            <div class="flex flex-row md:flex-row items-center gap-1">
              <span
                class="text-gray-500 bg-gray-200 py-1 px-3 rounded-2xl"
                *ngIf="isNew(blogsData.createdAt.toString())"
                >New</span
              >
              <span class="block">{{ blogsData.createdAt }}</span>
            </div>
            <span class="text-sm text-gray-400 block overflow-auto">{{ blogsData.tags }}</span>
            <p class="m-0 overflow-auto h-30">
              {{ blogsData.description }}
            </p>
           
          </p-card>
        </div>
        }
         
      </div>
      <div *ngIf="blogsListData.length==0">
              <div class="w-full p-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
               <p-skeleton size="20rem" />
               <p-skeleton size="20rem" />
               <p-skeleton size="20rem"/>
               <p-skeleton size="20rem"/>
            </div>
        </div>
            </div>
    </ng-template>
    <ng-template #tab2>
      <div *ngIf="projectListData.length==0">
              <div class="w-full p-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
               <p-skeleton size="20rem" />
               <p-skeleton size="20rem" />
               <p-skeleton size="20rem"/>
               <p-skeleton size="20rem"/>
            </div>
        </div>
            </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"
      >
        @for (project of projectListData; track $index) {
        <div
          class="anime1
          mb-4 p-4 transition delay-150 duration-300 ease-in-out hover:translate-y-2 hover:scale-110
          "
        >
          <p-card class="h-full flex flex-col">
            <div [routerLink]="['/common/viewProject',project.id]" class=" cursor-pointer">
               <span  class="block text-xl font-bold">{{project.title}}</span>
            <div class="size-10 bg-cover">
              <img
                [src]="'data:image/png;base64,' + project.returnCoverImg"
                alt="meet-logo.png"
              />
            </div>
            </div>
           
            <span [routerLink]="['/common/dashboard',project.userId]" class="block overflow-hidden hover:scale-x-105 cursor-pointer">Posted By: {{ project.authorName }}</span>
            <div class="flex flex-row items-center gap-1">
              <span
                class="text-gray-500 bg-gray-200 py-1 px-3 rounded-2xl"
                *ngIf="isNew(project.createdAt)"
                >New</span
              >
              <span class="block">{{ project.createdAt }}</span>
            </div>
            
            <span class="text-sm text-gray-400 overflow-hidden block">{{ project.tags }}</span>
            <div *ngIf="project.sourceCodeLink" class="overflow-y-auto block"> 
            
            <a [href]="project.sourceCodeLink" target="_blank" class="overflow-auto"><span class="font-medium">Source code:</span>&nbsp;{{project.sourceCodeLink}}</a>
          </div>
          <div *ngIf="project.liveDemoLink" class="overflow-y-auto block"> 
           
            <a [href]="project.sourceCodeLink" target="_blank" class="overflow-auto text-red-600 " pTooltip="Live project demo" tooltipPosition="top"> <span class="font-medium ">live Demo:</span>&nbsp;<i class="fa-solid fa-location-dot animate-ping"></i></a>
          </div>
            <p class="m-0 overflow-auto h-30">
              {{ project.description }}
            </p>
          </p-card>
        </div>
        }
      </div>
    </ng-template>
  </div>
</div>
