<p-toast></p-toast>
<div class="container mx-auto">
  <p-steps
    [ngClass]="'text-[1.2rem]'"
    [model]="items"
    [activeIndex]="active()"
    [readonly]="true"
  />
  <span>{{active()}}</span>
  <div class="flex flex-col justify-center items-center my-5">
    <div
      class="card flex justify-center items-center shadow-amber-200 shadow-md p-10"
    >
      <form [formGroup]="changeData">
        <div *ngIf="active() === 0">
          <div class="email">
            <label for="email">Email*</label>
            <input
              type="email"
              formControlName="email"
              pInputText
              placeholder="Enter your email"
              class="w-full active:"
            />

            <div
              *ngIf="
                changeData.get('email')?.errors &&
                changeData.get('email')?.touched
              "
            >
              <p class="text-[0.8rem] text-red-600/70">
                Email is required with valid email
              </p>
            </div>
          </div>

          <div class="relative">
            <label for="password">New Password*</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newPassword"
              pInputText
              placeholder="New Password"
              class="w-full"
            />

            <div
              *ngIf="
                changeData.get('newPassword')?.errors &&
                changeData.get('newPassword')?.touched
              "
            >
              <p class="text-[0.8rem] text-red-600/70">
                Password is length greater then 8 digit
              </p>
            </div>

            <span (click)="passwordToggle()" class="absolute top-8 right-2">
              <i
                [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                style="font-size: 1rem"
              ></i>
            </span>
          </div>
          <div class="relative">
            <label for="password">Confirm Password*</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              pInputText
              placeholder="ConfirmPassword"
              class="w-full"
            />
            <div
              *ngIf="changeData.get('confirmPassword')?.errors?.['mismatch'] && changeData.get('confirmPassword')?.touched"
            >
              <p class="text-[0.8rem] text-red-600/70">Password not Match</p>
            </div>
            <span (click)="passwordToggle()" class="absolute top-8 right-2">
              <i
                [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                style="font-size: 1rem"
              ></i>
            </span>
          </div>
          <div class="text-center">
            <button
              (click)="change()"
              [disabled]="changeData.invalid"
              class="bg-red-400/40 active:bg-red-500/50 shadow-md rounded cursor-pointer active:scale-90 p-2 my-4"
            >
              Change Password
            </button>
          </div>
        </div>
      </form>

      <div *ngIf="active() === 1">
        <div class="notify text-red-400/70 w-full rounded text-center ring-gray-400/20 ring-1 p-2">
            <span>Your opt send in {{this.changeData.get('email')?.value}} check it.</span>
            
        </div>
        <div class="otp p-20">
          <p-inputotp 
          [(ngModel)]="otp" 
          [length]="6"
          [integerOnly]="true"
          size="large"
           (ngModelChange)="onOtpComplete($event)"
          />
          <div class="resend text-center mt-4">
  <button 
    class="text-blue-600 disabled:text-gray-400 underline cursor-pointer"
    [disabled]="resendDisabled"
    (click)="resendCode()">
    {{ resendDisabled ? 'Resend code in ' + countdown + 's' : 'Resend Code' }}
  </button>
</div>
        </div>
      </div>
    </div>
  </div>
</div>
