<!-- <div class=" card size-100 ring-slate-950 ring-1 shadow-amber-300 shadow-2xl mx-10 fade-in">
  I fade in on page load.
</div> -->

<div class="card">
   <div class="w-full p-4">
            <h5 class="mt-4">Square</h5>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
               <p-skeleton size="20rem" />
               <p-skeleton size="20rem" />
               <p-skeleton size="20rem"/>
               <p-skeleton size="20rem"/>
            </div>
        </div>
</div>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   
</body>
</html>