// .dropdown{
//     display: inline-block;
//     position: relative;
// }
// .dropdown-content{
//     display: none;
//     position: absolute;
//     //max-width: 200px;
//     padding: 12px;
//    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

// }
// .dropdown:hover .dropdown-content{
//     display: block;
// }
.fade-in {
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100px);
      transform: translateX(100px);
      transform: scaleY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      transform: translateX(0);
      transform: scaleY(1);
      opacity: 1;
    }
  }